<!DOCTYPE html>
<html>
<head>
    {% block stylesheets %}
        <link rel="stylesheet" href="" />
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('vendor/js/jquery-2.1.4.min.js') }}"></script>
    {% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>