#view-container {

}

#game-canvas {
    top: 0;
    left: 0;
    width: 100%;
}

#game-menu {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.show-hide {
    opacity: 1.0;
}

.show-hide.ng-hide {
    opacity: 0;
}

.spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #2b3e50;
}

.spinner-text-block {
    color: whitesmoke;
    text-shadow: 2px 2px darkgray;
    margin: 25% auto 0;
    text-align: center;
}

.transparent-80 {
    transition: opacity linear 0.2s;
    -webkit-transition: opacity linear 0.2s;
    opacity: 0.8;
}

.transparent-80 :hover {
    opacity: 1;
}

.footer {
    margin-top: 20px;
    border-top: 1px solid darkgray;
    padding: 20px 15px;
    background-color: #4e5d6c;
}

.form-field {
    margin: 15px auto !important;
    width: 100% !important;
}

.char-list-container {
    margin: 15px 15px 0 15px;
}

.char-list {
    height: 250px;
    overflow-y: auto;
}

.char-list-button {
    width: 100%;
    margin-top: 15px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #f5f5f5;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
}

.ngi-inspector {
    color: #000000;
}